.app-container {
    display: flex;
    flex-direction: column; /* Stacks children vertically */
    justify-content: center; /* Centers children vertically in the container */
    align-items: center; /* Centers children horizontally in the container */
    height: 100vh; /* Uses the full height of the viewport */
    background: url('assets/floating-solar-esa-solar.jpg'); /* Sets a background color */
    background-size:cover;
    background-repeat: no-repeat;
}

.component-style {
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Adds space between stacked items */
}

    .component-style h1, h2 {
        color: #415972;
        text-align: center;
    }

.component-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.component-button {
    width: 100%;
    padding: 10px;
    background-color: #415972;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

    .component-button:hover {
        background-color: #76A8D6;
    }

.link-button {
    background: none;
    border: none;
    color: #415972;
    cursor: pointer;
}

    .link-button:hover {
        color: #76A8D6;
        text-decoration: underline;
    }

.page-break{
    break-after: page;
}

.log-in-text {
    color: #415972;
    font-weight: bold;
}